
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
.intro {
  height: 1000px;
  background-image: url("../images/soup.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.intro h1 {
  padding-top: 400px;
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

article p {
  padding-top: 50px;
  padding-left: 7%;
  padding-right: 7%;
  text-align: justify;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
}

.fastInfoImg {
  width: 500px;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
hr {
  width: 85%;
  height: 3px;
  background-color: black;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

ul,
ol {
  margin-left: -1%;
  padding-bottom: 20px;
}

#direccion,
.ingredientes {
  padding-left: 7.5%;
  padding-right: 7.5%;
}
